* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

#panel1 {
    background-image: url("https://pixabay.com/get/ga10cc7c1380bf6bd253c366cbee4448500a0c65d449403884464a1a50185ade909f235ef54ce1fdeaad883a3d66440d379fd600c0ec30e57327443f902b5ea72_1920.jpg");
}

#panel2 {
    background-image: url("https://pixabay.com/get/g700365d079e971e9a245c34ac3921ad8eb5033791c3b399b6c463e775cad2bf1b7778382f0b3e1581e5faa42b5998852738d984b0264ff78d3a60a3e87f39779_1920.jpg");
}

#panel3 {
    background-image: url("https://pixabay.com/get/g6c661234191b6d5460f6dd7d3bfd054860a823d7854f070a8122b744c8b6888c7d3ebc1dce290775df0ca240b575770ffaf53fee8be3200cacf19c3c26db44c9_1920.jpg");
}

#panel4 {
    background-image: url("https://pixabay.com/get/gc18876b9e955e09945902a315ae26b2f6f7116a0c098d27f8794c08ad6b231b056bcd91d9b9c192d94a8352a62356a65a80821b6599289805aaab8f52eec5fce_1920.jpg");
}

#panel5 {
    background-image: url("https://pixabay.com/get/g371c9662008da729a270f05369d7fe2ea826a50f0599c1f7b72b81c24b6bf9b7847093d768b0c462300c8be59cf632934e477de781cd58aee09a79ad3068bbc2_1920.jpg");
}

.container {
    display: flex;
    width: 80vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    flex: 0.5;
    position: relative;
    transition: flex 0.5s ease-in;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.panel h3 {
    position: absolute;
    bottom: 20px;
    left: 12px;
    opacity: 0;
}

.panel.activo {
    flex: 3;
}

.panel.activo h3{
    opacity: 1;
    transition: opacity 0.4s ease-in 0.4s;
}

@media (max-width:480px) {
    .container {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .panel:nth-of-type(6),.panel:nth-of-type(6) {
        display: none;
    }
}